/* services.css */

.services-container {
  text-align: center;
  color: #fff; /* Adjust the color as needed */
  background-color: #0c0032;
  /* margin: 20px auto; */
  height: 500px;
  padding: 20px;
}

.service-sections {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr)); /* Adjust the width as needed */
  gap: 20px; /* Adjust the gap between columns */
}

.service-section {
  background-color: #282828;
  padding: 10px;
  justify-content: center;
}

.service-subsection {
  margin-top: 10px;
}

.service-title {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold;
  margin-bottom: 20px; /* Add space between the title and the sections below */
}

.service-description {
  margin-top: 10px;
}

/* Add a media query for responsiveness */
@media (max-width: 768px) {
  .service-section {
    width: 100%; /* Full width on smaller screens */
  }
}
