/* services.css */

.services-container {
    text-align: center;
    margin: 20px auto;
    max-width: 900px;
  }
  
  .service-sections{
    display: flex;
    justify-content: space-evenly;
  }
  .service-section {
    width: 100%;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .service-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .service-description {
    margin-bottom: 20px;
  }
  
  